@tailwind base;
@tailwind components;
@tailwind utilities;

.title-red-glow {
  /* -webkit-text-shadow: 0px 0px 36px -4px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 36px -4px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 36px -4px rgba(255, 0, 0, 1); */
  text-shadow: 0px 0px 20px rgba(255, 0, 0, 1);
}
.cap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
